.material-icons { vertical-align: bottom; }

.navbar .navbar-toggler {
    right: 1rem;
    top: .4rem;
}

.navbar-brand {
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
    font-size: 1rem;
    padding-bottom: .75rem;
    padding-top: .75rem;
}

.reduced { font-size: .875rem; }

.sidebar {
    bottom: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    left: 0;
    padding: 48px 0 0;
    position: fixed;
    top: 0;
    z-index: 100;
}

.sidebar .nav-link {
    color: #333;
    font-weight: 500;
}

.sidebar .nav-link:hover {
    background-color: rgba(0, 0, 0, .1);
}

.sidebar .nav-link.active {
    background-color: rgba(0, 0, 0, .5);
    color: var(--white);
}

.sidebar .nav-link .material-icons {
    color: var(--gray);
    margin-right: 4px;
}

.sidebar .nav-link:hover .material-icons,
.sidebar .nav-link.active .material-icons {
    color: inherit;
}

.sidebar-heading {
    font-size: .875rem;
    text-transform: uppercase;
}

.sidebar-sticky {
    height: calc(100vh - 48px);
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: .5rem;
    position: relative;
    top: 0;
}

@media (max-width: 768px)
{
    .sidebar { top: 3rem; }
}